.interprets {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.content {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 4%;
    justify-content: center;
}

.card {
    width: 15rem;
    height: 20rem;
    background:  rgba(255, 255, 255, 0.048);
    display: grid;
    grid-template-rows: 80% 20%;
    place-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s ease;

}
.card-image {
    width: 90%;
    border-radius: 10px;
}
.card-title {
    margin-top: 0rem;
    place-self: center;
}

.card-button {
    position: relative;
    bottom: 8rem;
    right: -4.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #20b1d5;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: 0.4s ease;
}
.card:hover {
    background:  rgba(80, 80, 80, 0.63);
}
.card:hover .card-button {
    bottom: 9rem;
    opacity: 1;
}
.card-button-img {
    width: 40%;
}

.load-button {
    border: 2px solid #ffffff;
    font-size: 1.3rem;
    font-weight: 700;
    place-self: center;
    width: auto;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 3rem;
}
.load-button:hover {
    border: 2px solid #20b1d5;
    color: #20b1d5;
}

@media (max-width:862px) {
    .card {
        width: 12rem;
        height: 15rem;
    }
    .card-button {
        right: -3.3rem;
        bottom: 5rem;
    }
    .card-title {
        font-size: 1.2rem;
    }
    .card:hover .card-button {
        bottom: 7.2rem;
        opacity: 1;
    }
    .content {
        gap: 1rem 4%;
    }
}
@media (max-width:465px) {
    .content {
        padding: 2rem 0.5rem;
    }
    .card {
        width: 10rem;
        height: 13rem;
    }
    .card-button {
        right: -2.5rem;
        bottom: 4rem;
    }
    .card:hover .card-button {
        bottom: 6.8rem;
        opacity: 1;
    }
}