.nav-container, .hidden-nav, .nav {
    height: 100%;
    width: 100%;
}

.nav-container {
    display: flex;
    flex-direction: column;
}

.nav-hidden {
    margin-top: 1rem; 
    width: 50%;
    margin-inline: 25%;
    box-sizing: border-box;
    background-color: #444444;
    border-radius: 10px;
    display: grid;
    transform: translateY(-100%);
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
}
.nav-hidden.show {
    transform: translateY(0%);
    opacity: 1;
}
.nav-hidden-div:first-child {
    margin-top: 1rem;
}
.nav-hidden-search {
    height: 0;
    width: 100%;
}


.nav {
    background: #151515;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    display: flex;
    gap: 5%;
    z-index: 2;
}


/*Search list*/
.search-link {
    text-decoration: none;
}
.search-list {
    box-sizing: border-box;
}
.search-list-item {
    display: flex;
    place-items: center;
    gap: 1rem;
    padding: 0.5rem;
    transition: 0.3s;
}
.centered {
    display: flex;
    justify-content: center;
}
.search-list-item:hover {
    background: #15151541;
}
.search-list-item > img {
    height: 4rem;
}
.search-list-item  > p {
    color: #ffffff;
    font-size: 1.3rem;
    margin: 0;
}


/*Logo and title*/
.nav-logo {
    display: flex;
    flex-direction: row;
    height: 5rem;
    margin-block: 0.25rem;
    gap: 0.5rem;
}
.nav-logo-link, .nav-hidden-div {
    text-decoration: none;
    color: white;
}
.nav-logo > img {
    height: 5rem;
}
.nav-logo > h1 {
    margin: 0;
    transition: 0.3s;
    place-self: center;
}

/*Search bar*/
.search-div {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.4s;
}
.search {
    background: transparent;
    border: 1px solid white;
    color: white;
    height: 2.2rem;
    width: 100%;
    border-radius: 1.3rem;
    padding-inline: 1rem; 
    font-size: 1.2rem;
    transition: 0.3s;
    box-sizing: border-box;
}
.search:focus {
    outline: none;
    box-shadow: 0 0 5px #ffffff;
}
.search-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.4s;
}
.search-icon:hover {
    transform: scale(1.2);
}



/* Burger Menu */
.burger-menu {
    width: 4rem;
    height: 3.5rem; 
    top: 1rem;
    position: absolute;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem 0.2rem;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    right: 1rem;
    visibility: hidden;
}

.stick {
    width: 90%;
    height: 0.5rem;
    background: #20b1d5;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.burger-menu.active-menu .stick:nth-child(1) {
    transform: translateY(1.05rem) rotate(45deg);
}

.burger-menu.active-menu .stick:nth-child(2) {
    opacity: 0;
}

.burger-menu.active-menu .stick:nth-child(3) {
    transform: translateY(-1.05rem) rotate(-45deg);
}

@media (max-width: 1088px) {
    
    .search-div {
        width: 50%;
    }
    .search-hidden {
        width: 50%;
    }
}
@media (max-width:860px) {
    .nav-hidden {
        width: 70%;
        margin-inline: 15%;
    }
}
@media (max-width: 768px) {
    
    .search-hidden {
        width: 80%;
    }
    .nav-hidden-div:first-child {
        place-content: center;
    }
    .nav-hidden {
        width: 90%;
        margin-inline: 5%;
    }
}


@media (max-width: 748px) {
    .nav-hidden-text {
        font-size: 1.3rem;
    }
    .nav-logo > h1 {
        font-size: 1.8rem;
    }
    .search-div {
        width: 60%;
    }
    .stick {
        height: 0.4rem;
    }
    .burger-menu.active-menu .stick:nth-child(1) {
        transform: translateY(0.9rem) rotate(45deg);
    }
    .burger-menu.active-menu .stick:nth-child(3) {
        transform: translateY(-0.9rem) rotate(-45deg);
    }
}
@media (max-width: 655px) {
    .burger-menu {
        visibility: visible;
    }
    .nav-hidden {
        gap: 1rem;
    }
    .nav-hidden-search {
        height: 3rem;
        width: 100%;
    }
    .search-div {
        opacity: 0;
        visibility: hidden;
        justify-self: center;
        position: absolute;
        width: 85%;
        margin-inline: calc(15%/2);
        transform: translateY(1rem);
    }
    .translate-search {
        transform: translateY(7.35rem);
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 590px) {
    
    .nav-logo > h1 {
        visibility: visible;
        display: inline-block;
        opacity: 1;
        font-size: 1.5rem;
    }
}