.nav-container, .hidden-nav, .nav {
    height: 100%;
    width: 100%;
}

.nav-container {
    display: flex;
    flex-direction: column;
}

.nav-hidden {
    box-sizing: border-box;
    background-color: #151515;
    display: grid;
    transform: translateY(-100%);
    transition: 0.5s;
    opacity: 0;
    z-index: 0;
}
.nav-hidden.show {
    transform: translateY(0%);
    opacity: 1;
}
.nav-hidden-div {
    display: flex;
    place-items: center;
    gap: 1rem;
    background-color: #151515;
    transition: 0.4s;
    cursor: pointer;
    padding: 1rem;
    box-sizing: border-box;
}
.nav-hidden-div:first-child {
    margin-top: 1rem;
}
.nav-hidden-div:not(:first-child):hover {
    box-shadow: inset 0 0 5px #20b1d5;
}
.search-hidden {
    background: transparent;
    border: 1px solid white;
    height: 2.2rem;
    width: 30%;
    border-radius: 1.3rem;
    padding-inline: 1rem; 
    font-size: 1.2rem;
    transition: 0.3s;
}


.nav-hidden-img {
    height: 2rem;
    padding-right: 1rem;
}
.nav-hidden-text {
    margin: 0;
}

.nav {
    background: #151515;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    display: flex;
    gap: 5%;
    z-index: 1000;
}

/*Logo and title*/
.nav-logo {
    display: flex;
    flex-direction: row;
    height: 5rem;
    margin-block: 0.25rem;
    gap: 0.5rem;
}
.nav-logo-link, .nav-hidden-div {
    text-decoration: none;
    color: white;
}
.nav-logo > img {
    height: 5rem;
}
.nav-logo > h1 {
    margin: 0;
    place-self: center;
}

/*Search bar*/
.search-div {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.4s;
}
.search-div.hidden {
    opacity: 0;
}
.search {
    background: transparent;
    border: 1px solid white;
    height: 2.2rem;
    width: 100%;
    border-radius: 1.3rem;
    padding-inline: 1rem; 
    font-size: 1.2rem;
    transition: 0.3s;
}
.search:focus, .search-hidden:focus {
    border: 1px solid #20b1d5;
    outline: none; 
    box-shadow: 0 0 15px #20b1d5;
}
.search-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.4s;
}
.search-icon:hover {
    transform: scale(1.2);
}



/* Burger Menu */
.burger-menu {
    position: absolute;
    width: 4.5rem;
    height: 4rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem 0.2rem;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    right: 1rem;
    top: 0.5rem;
}

.stick {
    width: 90%;
    height: 0.5rem;
    background: #20b1d5;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.burger-menu.active-menu .stick:nth-child(1) {
    transform: translateY(1.05rem) rotate(45deg);
}

.burger-menu.active-menu .stick:nth-child(2) {
    opacity: 0;
}

.burger-menu.active-menu .stick:nth-child(3) {
    transform: translateY(-1.05rem) rotate(-45deg);
}

@media (max-width: 1088px) {
    
    .search-div {
        width: 50%;
    }
    .search-hidden {
        width: 50%;
    }
}
@media (max-width: 768px) {
    
    .search-hidden {
        width: 80%;
    }
    .nav-hidden-div:first-child {
        place-content: center;
    }
}


@media (max-width: 748px) {
    .search-div {
        opacity: 0;
    }
    .nav-hidden-text {
        font-size: 1.3rem;
    }
    .burger-menu {
        width: 4rem;
        height: 3.5rem; 
        top: calc(1.5rem / 2);
    }
    .stick {
        height: 0.4rem;
    }
    .burger-menu.active-menu .stick:nth-child(1) {
        transform: translateY(0.9rem) rotate(45deg);
    }
    .burger-menu.active-menu .stick:nth-child(3) {
        transform: translateY(-0.9rem) rotate(-45deg);
    }
    .nav-logo > h1{
        font-size: 1.5rem;
    }
    .nav-logo > img {
        height: 4rem;
        padding-block: 0.5rem;
    }
}